

.equipment-activities-types-container {
    padding: 20px;
    background-color: #f4f4f9;
    position: relative;
    display: block;
    height: 100vh;
    margin-top: 50px;
 }

.equipment-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

.tiles-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.equipment-activities-tile {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-width: 150px;
  }
  
  .equipment-tile h4 {
    margin-bottom: 8px;
  }
  