.blurred-container {
  filter: blur(3px);
  pointer-events: none;
  user-select: none;
}

.modal-backdrop-custom {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(4px); 
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1040;
}


.custom-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 500px;
  background-color: white;
  z-index: 1050;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  padding: 1.5rem;
  border-radius: 0.5rem;
}
