body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container.main-container {
  min-height: calc(100vh - 10px);
  padding-left: 0;
  padding-right: 0;
  padding-top: 70px;

}

.footer {
  height: 40px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}